*.safetensors filter=xet diff=xet merge=xet -text
*.bin filter=xet diff=xet merge=xet -text
*.jpg filter=xet diff=xet merge=xet -text
*.png filter=xet diff=xet merge=xet -text
*.pdf filter=xet diff=xet merge=xet -text
*.xlsx filter=xet diff=xet merge=xet -text
*.docx filter=xet diff=xet merge=xet -text
datos/*.csv filter=xet diff=xet merge=xet -text
datos/analisis/*.csv filter=xet diff=xet merge=xet -text
modelo/model.safetensors filter=lfs diff=lfs merge=lfs -text
datos/dataset_base_clean.csv filter=lfs diff=lfs merge=lfs -text
datos/dataset_final_VIT_BLIP_descripciones_Diana.csv filter=lfs diff=lfs merge=lfs -text
bibliografia/1-s2.0-S014521261830081X-main.pdf filter=lfs diff=lfs merge=lfs -text
bibliografia/12916_2019_Article_1426.pdf filter=lfs diff=lfs merge=lfs -text
bibliografia/13244_2018_Article_639.pdf filter=lfs diff=lfs merge=lfs -text
bibliografia/277_2025_Article_6706.pdf filter=lfs diff=lfs merge=lfs -text
bibliografia/AI[[:space:]]HLEG_Ethics[[:space:]]Guidelines[[:space:]]for[[:space:]]Trustworthy[[:space:]]AI.pdf filter=lfs diff=lfs merge=lfs -text
bibliografia/Application[[:space:]]of[[:space:]]artificial[[:space:]]intelligence[[:space:]]in[[:space:]]laboratory[[:space:]]hematology.pdf filter=lfs diff=lfs merge=lfs -text
memoria/TFM[[:space:]]Diana[[:space:]]9.3.26.docx filter=lfs diff=lfs merge=lfs -text
imagenes.zip filter=lfs diff=lfs merge=lfs -text
